<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
 
  <servlet>
    <servlet-name>TimeServlet</servlet-name>
    <servlet-class>cn.itcast.javaee.js.time.TimeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxTimeServlet</servlet-name>
    <servlet-class>cn.itcast.javaee.js.time.AjaxTimeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.itcast.javaee.js.user.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProvinceCityServlet</servlet-name>
    <servlet-class>cn.itcast.javaee.js.provincecity.ProvinceCityServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>TimeServlet</servlet-name>
    <url-pattern>/TimeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxTimeServlet</servlet-name>
    <url-pattern>/AjaxTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProvinceCityServlet</servlet-name>
    <url-pattern>/ProvinceCityServlet</url-pattern>
  </servlet-mapping>
 
 
</web-app>
